# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

/bot
dist/*
build/*
.build-cache/*
rules.mk
/log
/user
/chatapi
/tmp/*
test.json
token.id
